body {
    background-color: #dfdfdf !important;
    min-width:950px;
    width: auto !important;
}

div.content {
    max-width: 1000px;
    margin: 0px auto;
    font-size: 12pt;
}

div.panel-body {
    max-width: 765px;
}

div.page-header {
    margin: 0px;
    margin-bottom: 30px;
}

pre {
    overflow-wrap: normal !important;
}

div.alert {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

table.donate_table {
    border-spacing: 0 3px;
}

table.donators_table {
    margin-top: 30px;
    width: 100%;
}

@media only screen and (max-width: 1250px) {
    #forkme {
        display: none;
    }
}
