<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>{{ page.title }}</title>

	<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/static/images/jeta-favicon.png" />
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/pygments.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
</head>

<body>
	<div class="content panel panel-default">
            <div class="panel-heading">
                <a href="{{ site.baseurl }}/">
                    {% if !@page.is_androjeta.present  %}
                        <img src="{{ site.baseurl }}/static/images/jeta_short.png" width="64"/>
                    {% else %}
                        <img src="{{ site.baseurl }}/static/images/androjeta.png" height="37"/>
                    {% endif %}
                </a>

                <span style="float:right">
                    <a href="{{ site.baseurl }}/guide.html" type="button" class="btn btn-link">USER'S GUIDE</a>
                    {% if !page.is_androjeta.present || !page.is_androjeta  %}
                        <a href="https://github.com/brooth/jeta" type="button" class="btn btn-link">SOURCE CODE</a>
                        <a href="https://github.com/brooth/jeta-samples" type="button" class="btn btn-link">SAMPLES</a>
                    {% else %}
                        <a href="https://github.com/brooth/androjeta" type="button" class="btn btn-link">SOURCE CODE</a>
                        <a href="https://github.com/brooth/androjeta-samples" type="button" class="btn btn-link">SAMPLES</a>
                    {% endif %}
                    <a href="{{ site.baseurl }}/contact.html" type="button" class="btn btn-link">CONTACT</a>
                    <a href="{{ site.baseurl }}/donate.html" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> DONATE
                    </a>
                </span>
            </div>

            <table width="100%">
                <tr valign="top">
                    <td>
                        <div class="panel-body">
                            {{content}}
                        </div>
                    </td>
                    <td width="1px" bgcolor="#ddd"/>
                    <td width="230px" style="padding: 16px">
                        <h4>How it works:</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="{{ site.baseurl }}/guide/code-generating.html">Code Generating</a></li>
                            <li><a href="{{ site.baseurl }}/guide/at-runtime.html">At Runtime</a></li>
                            <li><a href="{{ site.baseurl }}/guide/meta-helper.html">Meta Helper</a></li>
                        </ul>
                        <h4>User's Guide:</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="{{ site.baseurl }}/guide/install.html">Installation</a></li>
                            <li><a href="{{ site.baseurl }}/guide/config.html">Configuration</a></li>
                            <li><a href="{{ site.baseurl }}/guide/logger.html">Logger Provider</a></li>
                            <li><a href="{{ site.baseurl }}/guide/inject.html">Dependecy Injection</a></li>
                            <li><a href="{{ site.baseurl }}/guide/observer.html">Observer</a></li>
                            <li><a href="{{ site.baseurl }}/guide/event-bus.html">Event Bus</a></li>
                            <li><a href="{{ site.baseurl }}/guide/collector.html">Collectors</a></li>
                            <li><a href="{{ site.baseurl }}/guide/implementation.html">Implementation</a></li>
                            <li><a href="{{ site.baseurl }}/guide/validator.html">Validators</a></li>
                            <li><a href="{{ site.baseurl }}/guide/proxy.html">Proxy</a></li>
                            <li><a href="{{ site.baseurl }}/guide/singleton.html">Singleton and Multiton</a></li>
                        </ul>
                        <h4>Androjeta</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="{{ site.baseurl }}/guide/androjeta/overview.html">Overview</a></li>
                            <li><a href="{{ site.baseurl }}/guide/androjeta/install.html">Installation</a></li>
                            <li><a href="{{ site.baseurl }}/guide/androjeta/config.html">Configuration</a></li>
                            <li><a href="{{ site.baseurl }}/guide/androjeta/findviews.html">Find Views</a></li>
                            <li><a href="{{ site.baseurl }}/guide/androjeta/retain.html">Retain</a></li>
                            <li><a href="{{ site.baseurl }}/guide/androjeta/clicks.html">On Clicks</a></li>
                        </ul>
                        <h4>Advanced</h4>
                        <ul style="font-size:11pt; padding-left: 20px;">
                            <li><a href="{{ site.baseurl }}/guide/multi-modules.html">Mutli-Module Projects</a></li>
                            <li><a href="{{ site.baseurl }}/guide/custom-processor.html">Custom Processor</a></li>
                            <li><a href="{{ site.baseurl }}/guide/custom-metasitory.html">Custom Metasitory</a></li>
                        </ul>

                        <table style="margin-top: 20px;">
                            <tr>
                                <td style="padding: 3px;">
                                    <span class="label label-success">Stable version: {{ site.stable_version }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 3px;">
                                    <span class="label label-info">Available on Java 1.7+</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 3px;">
                                    <span class="label label-info">Android Compatible</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        {% if !page.is_androjeta.present || !page.is_androjeta  %}
            <a id="forkme" href="https://github.com/brooth/jeta">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                    src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                    alt="Fork me on GitHub"
                    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
            </a>
        {% else %}
            <a id="forkme" href="https://github.com/brooth/androjeta">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                    src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
                    alt="Fork me on GitHub"
                    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
            </a>
        {% endif %}
</body>
</html>
